.costs-filter {
  color: white;
  padding: 0 1rem;
}

.costs-filter__control {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1rem;
  justify-content: flex-end;
  margin: 1rem 0;
}

.costs-filter label {
  font-weight: bold;
  color: black;
}

.costs-filter select {
  cursor: pointer;
  font: inherit;
  padding: 0.5rem 3rem;
  font-weight: bold;
  border: none;
}
