.new-cost {
  background-color: #808080;
  padding: 1rem;
  margin: 2rem auto;
  width: 25rem;
  max-width: 95%;
  text-align: center;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.25);
}

.new-cost button {
  margin-top: 1rem;
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  background-color: #111213;
  color: #fefae1;
}

.new-cost button:hover,
.new-cost button:active {
  background-color: #616466b2;
}
